# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
develop/
venv/

# Pip environment
.venv/

# Jupyter Notebook files
*.ipynb_checkpoints

# Sphinx documentation
docs/_build/

# pytest
.pytest_cache/

# Coverage reports
coverage.xml
coverage.json

# Logs
*.log

# Local configuration
local_settings.py

# IDE files
*.vscode/
.idea/

# Testing files
tests/

# Other files ignored by default
.DS_Store
Thumbs.db

# Ignore everything in the venv folder
!venv/
!.venv/
.venv/